.row
  .twelve.columns
    h2 Tack!
.row
  .six.columns
    .row
      .twelve.columns.vcard
        .panel
          p Tack 
            span.fn.n #{fullName}!
          p Vi kommer höra av oss till dig på #{emailAddress}, tills dess har vi registrerat att du bor på 
            span.adr #{streetAddress}
            , 
            span.postal-code #{zipCode} 
            span.city #{city}.
  .six.columns
    p.lead Medan du väntar på svar kan du passa på att njuta av några låtar från #{band}!
    block tophits